---
import Container from "./Container.astro";
---

<Container>
  <h2 class="text-5xl text-white text-center">Area of Practices</h2>
  <section class="mt-20 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 pb-24">
    <div class="relative col-span-1 lg:col-span-2">
      <img src="businessLaw.webp" alt="" class="w-full h-full aspect-[757/355]" />
      <h3 class="text-2xl text-white absolute bottom-4 left-4">Business Law</h3>
    </div>
    <div class="col-span-1 relative">
      <img src="partnershipLaw.webp" alt="" class="w-full h-full aspect-[304/291]" />
      <h3 class="text-2xl text-white absolute bottom-4 left-4">
        Partnership Law
      </h3>
    </div>
    <div class="col-span-1 relative">
      <img src="realState.webp" alt="" class="w-full h-full aspect-[304/291]" />
      <h3 class="text-2xl text-white absolute bottom-4 left-4">
        Real State Law
      </h3>
    </div>
    <div class="relative col-span-1 lg:col-span-2">
      <img src="businessLaw-2.webp" alt="" class="w-full h-full aspect-[752/342]" />
      <h3 class="text-2xl text-white absolute bottom-4 left-4">Business Law</h3>
    </div>
    <div class="relative col-span-1 lg:col-span-2">
      <img src="landlord.webp" alt="" class="w-full h-full aspect-[752/342]" />
      <h3 class="text-2xl text-white absolute bottom-4 left-4">
        Landlord Disputes
      </h3>
    </div>
    <div class="col-span-1 relative">
      <img src="elderAbuse.webp" alt="" class="w-full h-full aspect-[304/291]" />
      <h3 class="text-2xl text-white absolute bottom-4 left-4">Elder Abuse</h3>
    </div>
  </section>
</Container>
