---
import Container from "./Container.astro"

---


    <section class="mt-20 bg-secondary py-16">
    <h2 class="text-5xl text-white text-center">Suscribe Our Newsletter</h2>
    <form
        action="#"
        class="flex flex-row items-center gap-x-4 rounded-full mt-8 justify-center">
        <input type="text" placeholder="Name" class="px-4 py-2 rounded-lg">
        <input type="text" placeholder="Enter your email" class="px-4 py-2 rounded-lg">
        <div>
            <button
            type="submit"
            class="bg-primary ml-auto text-black px-6 py-3 rounded-lg font-bold transition duration-700 hover:scale-125"
            >Send
            </button>
        </div>
      </form>
    </section>
