---
import Header from "../components/Header.astro";
import LetsTalk from "../components/LetsTalk.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="IGSTUDIO">
  <main>
    <Header />
    <LetsTalk />
  </main>
</Layout>
